@media (max-width: 1024px) {
  #header__container {
    width: 100%;
    padding: 0 1rem;
  }

  .navbar__list {
    gap: 1rem;
  }

  .navbar__list li a {
    font-size: 14px;
  }

  #container__home {
    flex-direction: column;
    height: auto;
  }

  #container__products {
    width: 96%;
  }
}

@media (max-width: 768px) {
  .card:hover {
    box-shadow: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }

  .footer-container {
    flex-direction: column;
    gap: 1rem;
  }
}
